@font-face {
  font-family: SpartanMB;
  src: url(/dist/fonts/SpartanMB-Extra-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SpartanMB;
  src: url(/dist/fonts/SpartanMB-Regular.otf);
  font-weight: normal;
}

$main-bg: rgb(250, 250, 250);
$main-txt: rgb(0, 0, 0);
$font-1: "SpartanMB";
$a-bg: rgb(111, 37, 214);
$a-left-txt: rgb(0, 0, 0);
$s-bg: rgb(243, 243, 243);
$s-left-txt: rgb(0, 0, 0);
$p-bg: rgb(243, 243, 243);
$p-left-txt: rgb(0, 0, 0);
$c-bg: rgb(243, 243, 243);
$c-left-txt: rgb(0, 0, 0);

html,
body {
  height: auto;
}

body {
  background: $main-bg;
  color: $main-txt;
  font-family: $font-1;
  font-weight: normal;
  margin: 0;
  padding: 0;
  width: 100%;
}

.big-h {
  font-weight: bold;
  font-size: calc(4.9rem + 1vw);
  margin-top: 40px;
}

.lil-h {
  font-weight: normal;
  font-size: calc(3.5rem + 0.5vw);
}

h2 {
  font-weight: normal;
  font-size: 30px;
}

p,
li,
h3 {
  font-size: 18px;
}

h3 {
  font-weight: bold;
}

header {
  width: calc(100% - 2px);
  height: 5rem;
  border-left: 1px solid $main-txt;
  border-right: 1px solid $main-txt;
  border-top: none;
  outline: none;
  // margin-bottom: 4rem;
}

button:hover,
a:hover {
  cursor: pointer;
}

.btn {
  font-size: 30px;
  font-family: $font-1;
  padding: 0.5rem 1.5rem;
  background: none;
  border: 2px solid $main-txt;
  margin: 0.5rem;
  overflow: hidden;
  position: relative;
}

.btn::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  background: $main-txt;
  color: $main-bg;
  height: 100%;
  width: 100%;
  // -webkit-transform: translate3d(200%, 0, 0);
  // transform: translate3d(200%, 0, 0);
}

.resume-btn::before {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.contact-btn::before {
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
}

.btn::before,
.btn > span {
  padding: 0.5rem 0;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.btn:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.btn:hover > span {
  transition: transform 0.3s;
}

// main layout
main {
  display: grid;
  text-align: center;
  outline: none;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "h h"
    "al ar"
    "sl sr"
    "pl pr"
    "c c";
}

.home {
  grid-area: h;
  outline: none;
  min-height: 100vh;
  border-left: 1px solid $main-txt;
  border-right: 1px solid $main-txt;
  // border-bottom: 1px solid $main-txt;
}

.about-l {
  grid-area: al;
}

.about-r {
  grid-area: ar;
  line-height: 1.75;
}

.about-r p {
  margin-bottom: 40px;
}

.about-r h2 {
  text-align: center;
}

.snippets-l {
  grid-area: sl;
}

.snippets-r {
  grid-area: sr;
}

.project-l {
  grid-area: pl;
}

.project-r {
  grid-area: pr;
}

.contact {
  grid-area: c;
  height: 100vh;
  border-left: 1px solid $main-txt;
  border-right: 1px solid $main-txt;
}

.project-l,
.project-r,
.snippets-l,
.snippets-r,
.about-l,
.about-r {
  border: 1px solid black;
  height: 105vh;
}

.project-r,
.snippets-r,
.about-r {
  overflow-y: scroll;
  padding: 0 80px;
  text-align: justify;
}

.about-r h2:first-child,
.snippets-r h2:first-child,
.project-r h2:first-child {
  margin-top: 80px;
}

@media screen and (max-width: 1400px) {
  .big-h {
    font-weight: bold;
    font-size: calc(6rem + 1vw);
    margin: 1rem;
  }
  main {
    display: grid;
    text-align: center;
    outline: none;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "h h"
      "al al"
      "ar ar"
      "sl sl"
      "sr sr"
      "pl pl"
      "pr pr"
      "c c";
  }

  .project-l,
  .project-r,
  .snippets-l,
  .snippets-r,
  .about-l,
  .about-r {
    // border: none;
    border: 1px solid black;
  }

  .project-l,
  .snippets-l,
  .about-l {
    height: auto;
    border-bottom: none;
  }

  .project-r,
  .snippets-r,
  .about-r {
    border-top: none;
    height: auto;
  }

  .project-l,
  .snippets-l {
    border-top: none;
  }
}

@media screen and (max-width: 900px) {
  .big-h {
    font-weight: bold;
    font-size: calc(3rem + 1vw);
  }
}

@media screen and (max-width: 600px) {
  .big-h {
    font-weight: bold;
    font-size: calc(2rem + 1vw);
  }
}
