// nav
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 1rem;
  padding-left: 1rem;
}

.menu {
  border: 1px solid rgb(50, 175, 206);
  width: 60%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

// heading
.logo-main {
  max-height: calc(5rem + 10vw);
  max-width: 80%;
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.logo-mini {
  max-width: 20%;
  cursor: pointer;
}
