// nav

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: large;
}

.menu {
  width: 60%;
  -o-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -moz-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.menu ul {
  padding: 0;
  margin: 1.5rem 0;
}

.menu .nav-link a {
  position: relative;
  text-transform: capitalize;
}

.menu .nav-link a::after {
  content: "";
  z-index: 2;
  position: absolute;
  display: inline-block;
  width: 0%;
  height: 2px;
  background: rgb(0, 0, 0);
  bottom: -5px;
  left: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu .nav-link:hover a::after {
  content: "";
  z-index: 2;
  position: absolute;
  display: inline-block;
  width: 105%;
  height: 2px;
  background: rgb(0, 0, 0);
  bottom: -5px;
  left: -2.5%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-scroll .nav-link a::after {
  content: "";
  z-index: 2;
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0px;
  background: rgb(0, 0, 0);
  bottom: -5px;
  left: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-scroll .nav-link:hover a::after {
  content: "";
  z-index: 2;
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0px;
  background: rgb(0, 0, 0);
  bottom: -5px;
  left: -2.5%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu a,
.home-icon {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.home-icon {
  position: relative;
  margin-top: 1.5rem;
  font-weight: 500;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.home-icon:hover {
  text-shadow: 1px 1px 3px rgb(54, 54, 54);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

// heading
.logo-main {
  max-height: calc(5rem + 7vw);
  padding-top: 8rem;
  max-width: 80%;
  -o-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -moz-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.logo-mini {
  max-width: 20%;
  cursor: pointer;
}

// floating menu
.menu-scroll {
  position: fixed;
  top: 20%;
  right: 35px;
  // border: 1px solid red;
  width: auto;
  -o-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -moz-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.menu-scroll ul {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: auto;
  position: relative;
}

.menu-scroll ul::before {
  content: "";
  z-index: 1;
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 75%;
  background: rgb(0, 0, 0);
  top: 0;
  left: calc(50% - 1px);
}

.menu-scroll .nav-link {
  border: 1px solid rgb(19, 19, 19);
  border-radius: 50%;
  background: white;
  z-index: 2;
  height: 15px;
  width: 15px;
  margin-bottom: 15vh;
}

.menu-scroll .nav-link:hover a {
  color: white;
}
.menu-scroll .nav-link a {
  color: rgba(255, 255, 255, 0);
  height: 15px;
  width: 20px;
}
